name: Release Please

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  release-please:
    if: "${{ !contains(github.event.pull_request.title || github.event.issue.title, 'chore(main): release') }}"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Release Please  
        uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple

      - uses: actions/checkout@v4

      - name: Debug release outputs
        env:
          OUTPUT: ${{ toJSON(steps.release.outputs) }}
        run: |
          echo "${OUTPUT}"

      - name: tag major and minor versions
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git remote add gh-token "https://${{ secrets.GITHUB_TOKEN }}@github.com/google-github-actions/release-please-action.git"
          if [[ -n "${{ steps.release.outputs.major }}" && -n "${{ steps.release.outputs.minor }}" ]]; then
            git tag -d v${{ steps.release.outputs.major }} || true
            git tag -d v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }} || true
            git push origin :v${{ steps.release.outputs.major }} || true
            git push origin :v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }} || true
            git tag -a v${{ steps.release.outputs.major }} -m "Release v${{ steps.release.outputs.major }}"
            git tag -a v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }} -m "Release v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}"
            git push origin v${{ steps.release.outputs.major }}
            git push origin v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}
          else
            echo "Major or minor version outputs from release-please action are missing"
          fi
